
body{
    background-color:rgba(255, 249, 249, 0.503) ;
    max-height: 100vh;
}
.card{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;;
    border-radius: 50%;
    z-index: 1;
    margin-top: -50px;
    margin-left: 5px;
    
    
}
.profileImage {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative; 
   
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
    padding: 6px;
    background-image: conic-gradient(from var( --angle), rgb(16, 15, 15), rgba(13, 13, 13, 0.775));
     animation: spin 3s linear infinite;
}
.card::before{
    filter: blur(2.5rem);
    opacity: 0.2;
}
@keyframes spin{
    from{
     --angle:0deg;
    }
    to{
        --angle:360deg;

    }
}


.info{

 background-color: hsl(0, 7%, 94%);
 color: #010101;
 text-align: center;
   
    
    left: 50%;
    top:20rem;
   
   
    position:relative;
   
    transform: translate(-50%, -50%);
    width: 50%;
    height:30rem;
    border-radius: 3%;
    box-shadow: 50px 50px 50px #383737b6;

    


}